:root {
    --frame-width: 60px;
    --frame-height: 60px;
}

#frame-id01 {
    width: var(--frame-width);
    height: var(--frame-height);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

#frame-id01 .flash {
    display: none;
    position: absolute;
    width: var(--frame-width);
    height: var(--frame-height);
    background-color: transparent;
    border: 8px solid white;
    border-radius: 100%;
}

@keyframes flash {
    0% {
        width: var(--frame-width);
        height: var(--frame-height);
    }
    100% {
        width: 250%;
        height: 250%;
    }
}

@keyframes flash_reverse {
    0% {
        width: 250%;
        height: 250%;
    }
    100% {
        width: var(--frame-width);
        height: var(--frame-height);
    }
}

#frame-id01 .circle {
    position: relative;
    background: #000;
    width:90%;
    height: 90%;
    border-radius: 100%;
    overflow: hidden;
}

#frame-id01 .sky {
    width: 100%;
    height: 65%;
    background-color: skyblue;
    transition: background-color .5s
}

#frame-id01 .sun {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 7%;
    height: 7%;
    background-color: yellow;
    border-radius: 100%;
}


/* RAYS */

#frame-id01 .rays {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 7%;
    height: 7%;
}

#frame-id01 .ray {
    display: block;
    position: absolute;
    width: 5.5%;
    height: 10%;
    background-color: yellow;
    animation: rays_animation .5s ease-in-out alternate infinite;
}

#frame-id01 .ray1 {
    transform: translate(-75%, -200%) rotate(50deg);
}
#frame-id01 .ray2 {
    transform: translate(-150%, 700%) rotate(-15deg);
}
#frame-id01 .ray3 {
    transform: translate(200%, -350%) rotate(90deg);
}
#frame-id01 .ray4 {
    transform: translate(300%, 1000%) rotate(45deg);
}
#frame-id01 .ray5 {
    transform: translate(50%, 1250%) rotate(90deg);
}
#frame-id01 .ray6 {
    transform: translate(400%, 250%) rotate(0deg);
}

@keyframes rays_animation {
    0% {
        width: 30%;
    }

    100% {
        width: 25%;
    }
}

#frame-id01 .moon {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 7%;
    height: 7%;
    background-color: aliceblue;
    border-radius: 100%;
}

#frame-id01 .ground {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 35%;
    background-color: palegoldenrod;
    transition: background-color .5s
}

#frame-id01 .circle_sun {
    transform: rotate(45deg);
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

#frame-id01 .circle_moon {
    transform: rotate(-90deg);
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

@keyframes cicle_sun {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes cicle_sun_reverse {
    0% {
        transform: rotate(180deg);
        display: block;
    }

    100% {
        transform: rotate(45deg);
    }
}

@keyframes cicle_moon {
    0% {
        transform: rotate(-90deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@keyframes cicle_moon_reverse {
    0% {
        transform: rotate(45deg);
        display: block;
    }

    100% {
        transform: rotate(-90deg);
    }
}