body {
    background-color: aqua;
}

.navbarv02 {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: height .5s;
    background-image: url('../images/cloudop06.png');
    background-position: -50px;
    background-size: 96px;
}

/* ----------- */

.expanded {
    height: 300px;
}

.collapsed {
    height: 60px;
}

.displayed {
    visibility: visible;
    opacity: 1;
    height: 200px;
}

.notdisplayed {
    visibility: hidden;
    opacity: 0;
    height: 0 !important;
}

/* ----------- */

.navbarv02 h3 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    align-self: center;
    cursor: pointer;
}

.navbarv02 ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 0;
    margin: 0;
    transition: height .5s;
    
    padding: 0 128px;
}

@media screen and (max-width: 1400px) {
    .navbarv02 ul {
        gap: 128px;
    }
}

@media screen and (max-width: 900px) {
    .navbarv02 ul {
        gap: 32px;
    }

    .expanded {
        height: 120px;
    }
    .displayed {
        visibility: hidden;
        opacity: 0;
        height: 0px;
    }

    .expanded li {
        margin: 0 !important;
    }

}

.navbarv02 li {
    display: grid;
    align-content: center;
    margin-right: 0px;
    transition: margin .5s;
}

.expanded li {
    margin: 0 32px;
}

.item {
    display: grid;
}

.content {
    transition: height .5s;
    font-size: 18px;
}

.content p {
    margin: 0;
    margin-top: 16px;

    cursor: pointer;
}

.separate {
    width: 2px;
    background-color: black;
    height: 200px;
    align-self: center;
    margin: 0;
    padding: 0;

    display: grid;
    transition-property: height, opacity; 
    transition-duration: .5s; 
}

.separate span {
    background-color: black;
    position: absolute;
    align-self: center;
    width: 24px;
    height: 2px;
    transform: rotate(-45deg) translate(-55%);
}

.separate span:nth-of-type(1) {
    margin-bottom: 24px;
}

.separate span:nth-of-type(2) {
    margin-top: 0px;
}

.navbarv02 h3:hover, .navbarv02 p:hover {
    color: white;
}

.logodiv {
    position: absolute;
    border-radius: 50%;
    width: 128px;
    height: auto !important;
    display: grid;
    align-items: center;
}

.logo {
    width: 96px;
}

.backtotop {
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
    background-color: rgba(245, 245, 245, 0.76);
    width: 100%;
}