main {
    grid-area: main;
    background-color: rgb(225, 225, 225);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 100%;
    min-height: 100vh;
}

div.carta {
    background-color: rgb(219, 253, 255);
    padding: 16px;
    margin: auto;
    width: 80%;
    h1 {
        font-size: 28px;
        margin-bottom: 30px;
        font-weight: bold;
    }
    p {
        font-size: 32px;
        font-family: Arial, Helvetica, sans-serif;
        span {
            color: rgb(26, 58, 186);
            font-weight: bold;
        }
    }
}
