.heading {
    color: var(--text-color);
    display: inline-block;
    padding: 2px;
    margin: 0;
    animation: blink_border 1s infinite, delete_text 2.5s infinite alternate ease-in-out;
    overflow: hidden;
    width: 200px;
    white-space: nowrap;
    text-align: center;
}

@keyframes blink_border {
    0% {
        border-right: 2px solid var(--text-color);
    }

    50% {
        border-right: none;
    }

    100% {
        border-right: 2px solid var(--text-color);
    }
}

@keyframes delete_text {
    0% {
        width: 0px;
    }

    50% {
        width: 200px;
    }

    100% {
        width: 200px;
    }
}